* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --curry: #DC9924;
    --light-yellow: #FDE8BE;
    --creme: #F1EAD5;
    --lighter-green: #C9D9B9;
    --light-green: #73885A;
    --dark-green: #42592D;
    --darker-green: #192809;
    --light-brown: #5D3315;
    --dark-brown: #41220C;
}

@font-face {
    font-family: sunwish;
    src: url(fonts/sunwish.ttf);
}

@font-face {
    font-family: sansita;
    src: url(fonts/sansita.ttf);
}

@font-face {
    font-family: decorya;
    src: url(fonts/decorya.ttf);
}

@font-face {
    font-family: roboto;
    src: url(fonts/roboto.ttf);
}




html{
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/beer-katalog-background.png);
    background-size: cover; /* Sørger for, at billedet dækker hele skærmen */
    background-position: center; /* Centrerer billedet */
    background-repeat: no-repeat;
    min-height: 100vh; /* Sikrer, at baggrunden fylder mindst skærmen, men tillader scrolling */
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}




/* Navbar styling */
#kurv {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-right: 0.5rem;
    width: 3.5rem;
}

#kurv:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #192809b3;
    padding: 0.8rem 1rem; /* Gør navbaren smallere i højden */
    height: 4.8rem; /* Sæt en fast højde, hvis nødvendigt */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    position: relative;
    width: 3.2rem;
    margin-left: 0.5rem;
}

.logo img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: 30rem;
}

.nav-links li {
    margin: 0 3rem;
    font-family: roboto;
    font-weight: bold;
}

.nav-links a {
    color: var(--creme);
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
}

.nav-links a:hover {
    color: var(--curry);
}

#shop{
    text-decoration: underline;
    font-weight: bolder;
}

#forside, #om-os, #anmeldelser{
    font-weight: 500;
}
/*_____________________________________________*/




/* special øl sektion*/
.container-special-overskrift {
    position: relative;
    background-color: rgb(115, 136, 90);
    width: 84rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.info-container {
    position: relative;
    background-color: #73885A;
    width: 25rem;
    height: 45rem;
    border-bottom-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

 

h1{
    font-family: sansita;
    font-size: 4.2rem;
    color: var(--creme);
    z-index: 10;
    position: absolute;
    top: 11%;
    left: 26%;
}

h1:hover{
    color: var(--curry);
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
}

h2 {
    font-weight: 400;
    color: var(--creme);
    font-family: roboto;
    z-index: 5;
    position: relative;
}

h2:hover{
    color: var(--curry);
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
}

#special-h2{
    font-family: sansita;
    font-size: 4.2rem;
    margin-bottom: 1rem;
    color: var(--creme);
    font-weight: 400;
}

.beer-box {
    display: flex;
    flex-direction: column;
}

.special-beer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    max-width: 83rem;
    width: 90rem;
    margin-top: 4rem;
    justify-items: center;
}

.special-beer {
    background-color: #73885A;
    width: 25rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

.comming-soon {
    height: 47.5rem;
}

.can-names{
    font-size: 3rem;
    font-family: sansita;
    text-align: center;
}

.can-names:hover{
    cursor: pointer;
    color: var(--curry);
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
}

.can-img {
    width: 18rem;
    transition: ease-in 0.3s;
    margin: 1rem 0rem;
}

.can-img:hover{
    transform: scale(1.01);
}

.lakrids{
    width: 16.2rem;
}

.citron{
    width: 16.5rem;
}

.special-description{
    text-decoration: none;
    font-family: roboto;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--creme);
    margin: 0rem 0rem 1rem 0rem;
    position: relative;
    z-index: 5;
}

.special-description:hover{
    cursor: pointer;
    color: var(--curry);
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
}

h4 {
    font-family: roboto;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--creme);
    text-decoration: underline;
}

/*
h4.classic-pris {
    margin: 0rem 0rem 5rem 0rem;
}
*/

.special-beer-container-02 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    max-width: 83rem;
    width: 90rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-items: center;
}

.hyldeblomst{
    width: 17rem;
}

.mystery-h2{
    font-size: 2.8rem;
    font-family: sansita;
    text-transform: uppercase;
    position: absolute;
    width: 17.5rem;
    z-index: 10;
}

#mystery-description-01{
    left: 73%;
}

#mystery-description-02{
    left: 39%;
}

.mystery{
    width: 17.5rem;
}
/*_____________________________________________*/

/* Container for at centrere indholdet */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Styling for dåse som knap */
.classic {
    width: 22rem;  /* Bruger rem for at gøre størrelsen responsiv */
    height: auto;
    cursor: pointer;
    position: relative;
    margin: 3rem auto; /* Brug rem for margin */
    margin-top: 15rem;
}

.can img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styling for infographic */
.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.info img {
    max-height: 100%;
    margin-top: 5rem ;
    margin-right: 2.2rem;
}

/* Skjule infographic som standard */
.hidden {
    display: none;
}


/* Footer */
footer{
    background-color: var(--darker-green);
    position: relative;
    width: 100%;
    height: 8rem;
    margin-top: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

footer h4{
    font-size: 1rem;
    text-decoration: none;
    font-weight: 300;
    line-height: 1.8rem;
}

footer img{
    width: 8rem;
    margin: 0rem 2rem 0rem 1rem;
}

article.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer article p {
    margin: 0.3rem 0rem;
    color: #F1EAD5;
    font-family: roboto;
    font-weight: 300;
}

.bold-tekst {
    font-weight: bold;
}

footer article p:hover {
    color: var(--curry);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
/*_____________________________________________*/

.mulighedsknapper{
    display: flex;
    justify-content: center;
    margin: 2rem;
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    background-color: orange;
    border: none;
    z-index: 2;
    
}
.mulighedsknapper img {
    transition: transform 0.3s ease; /* Giver en glidende effekt ved rotation */
}


.quantity-box {
    display: none;
    background-color: var(--light-green);
    padding: 1rem;
    border-radius: 2.5rem;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: var(--creme);
    font-family: roboto;
}

/* idividuelle Quantity Items */
.quantity-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Fjerner den nederste kant på det sidste element */
.quantity-item:last-child {
    border-bottom: none;
}

/* Stil for knapperne og antal-displayet */
.quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Styling for knapperne (+/-) */
.quantity-controls button {
    background-color: var(--dark-green);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
}



.quantity-controls .form-control{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--creme);
    width: 2rem;
    text-align: end;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    
}

.quantity-controls .enkelt-produkt-pris{
    display: none;
}

/* Stil for tallet, der viser hvor mange enheder der er valgt
.quantity-controls span {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-brown);
} */

/* Sørger for, at billederne ikke forvrænges */
.quantity-item img {
    height: auto;
}

/* Justerer størrelsen på de enkelte billeder individuelt */
.quantity-item .can-icon {
    width: 1.5rem;
}

.quantity-item .pack6-icon {
    width: 60px;
}

.quantity-item .pack24-icon {
    width: 80px;
}

