:root {
    --curry: #DC9924;
    --light-yellow: #FDE8BE;
    --creme: #F1EAD5;
    --lighter-green: #C9D9B9;
    --light-green: #73885A;
    --dark-green: #42592D;
    --darker-green: #192809;
    --light-brown: #5D3315;
    --dark-brown: #41220C;
}

@font-face {
    font-family: sunwish;
    src: url(fonts/sunwish.ttf);
}

@font-face {
    font-family: sansita;
    src: url(fonts/sansita.ttf);
}

@font-face {
    font-family: decorya;
    src: url(fonts/decorya.ttf);
}